{% extends 'base.html' %}
{% block title %}
Flask Introduction
{% endblock %}

{% block content %}

<form method="GET" action="{{ url_for('search') }}">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="query" placeholder="Search..." value="{{ query }}">
    <select class="form-control" name="category">
      <option value="All" {% if category == 'All' %} selected {% endif %}>All</option>
      <option value="Electronics" {% if category == 'Electronics' %} selected {% endif %}>Electronics</option>
      <option value="Clothing" {% if category == 'Clothing' %} selected {% endif %}>Clothing</option>
      <option value="Food" {% if category == 'Food' %} selected {% endif %} >Food</option>
    </select>
    <div class="input-group-append">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
  </div>
</form>
<table class="table table-hover table-dark" style="width: 100%;">
  <thead>
    <tr>
      <!-- Your Columns HERE -->
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <!-- Your rows inside the table HERE: -->
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{item.description}}</td>
      <td>₱ {{ item.price }}</td>
      <td>
        <button class="btn btn-outline-info" data-toggle="modal" data-target="#ItemInfo_{{item.id}}">More Info</button>
        <a class="btn btn-outline-warning" href="{{url_for('UpdateItem',item_id=item.id)}}">Edit</a>
        <button class="btn btn-outline-primary">Purchase Item</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-outline-primary ml-3 mb-3" id="fixed-button" data-toggle="modal" data-target="#RegisterElectronics">
  Add Electronics
</a>

<!-- Register Electronics Modal -->
<div class="modal fade" id="RegisterElectronics" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Register Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="create_form" method="POST" action="{{ url_for('RegisterElectronics') }}" class="form-register"
          style="color: grey;">
          {{ form.hidden_tag() }}
          <blockquote class="blockquote text-center">
            <h1 class="h3 mb-3 font-weight-normal">
              Register Electronics
            </h1>
          </blockquote>
          {{form.name.label()}} {{ form.name(class="form-control", placeholder="Enter Name...",autocomplete="off")}}
          {{form.price.label()}} {{ form.price(class="form-control", placeholder="Enter Price...",autocomplete="off")}}
          {{form.manufacturer.label()}} {{ form.manufacturer(class="form-control", placeholder="Enter Manufacturer...",autocomplete="off") }}
          {{form.description.label()}} {{ form.description(class="form-control", placeholder="Enter Description...",autocomplete="off") }}
          
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="RegisterElectronicsModal" onclick=refreshPage()>Close</button>
        <button type="submit" class="btn btn-primary" data-dismiss="RegisterElectronicsModal"
          onclick="submitForm('create_form')">Submit</button>
      </div>
    </div>
  </div>
</div>
{% for item in items %}
<!-- Info Modal -->
<div class="modal fade" id="ItemInfo_{{item.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Item Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>{{item.id}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name:</td>
              <td>{{item.name}}</td>
            </tr>
            <tr>
              <td>Price:</td>
              <td>{{item.price}}</td>
            </tr>
            <tr>
              <td>Description:</td>
              <td>{{item.description}}</td>
            </tr>
            
            {%if item.type == "clothing" %}
            <tr>
              <td>Brand:</td>
              <td>{{item.brand}}</td>
            </tr>
            <tr>
              <td>Size:</td>
              <td>{{item.size}}</td>
            </tr>
            {%elif item.type == "food" %}
            <tr>
              <td>Brand:</td>
              <td>{{item.brand}}</td>
            </tr>
            <tr>
              <td>Halal Certified:</td>
              <td>{{item.isHalalCertified}}</td>
            </tr>
            {%elif item.type == "electronics" %}
            <tr>
              <td>Manufacturer:</td>
              <td>{{item.manufacturer}}</td>
            </tr>
            {%endif%}
          </tbody>
        </table>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick=refreshPage()>Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}