{% extends 'base.html' %}
{% block title %}
Sample Title
{% endblock %}

{% block content %}

<form method="GET" action="{{ url_for('search') }}">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="query" placeholder="Search..." value="{{ query }}">
    <div class="input-group-append">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
  </div>
</form>
<table class="table table-hover table-dark" style="width: 100%;">
  <thead>
    <tr>
      <!-- Your Columns HERE -->
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Date Purchased</th>
      <th scope="col">Price</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <!-- Your rows inside the table HERE: -->
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{item.datePurchased}}</td>
      <td>₱ {{ item.price }}</td>
      <td>
        <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#UpdateItem_{{item.id}}">Edit</button>
        <button class="btn btn-outline btn-success">Purchase Item</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-outline-primary ml-3 mb-3" id="fixed-button" data-toggle="modal" data-target="#RegisterItem">
  Add
</a>

<!-- Register Modal -->
<div class="modal fade" id="RegisterItem" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Register Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="create_form" method="POST" action="{{ url_for('RegisterItem') }}" class="form-register"
          style="color: grey;">
          {{ form.hidden_tag() }}
          <blockquote class="blockquote text-center">
            <h1 class="h3 mb-3 font-weight-normal">
              Register Item
            </h1>
          </blockquote>
          {{form.name.label()}} {{ form.name(class="form-control", placeholder="Enter Name...",autocomplete="off")}}
          {{form.price.label()}} {{ form.price(class="form-control", placeholder="Enter Price...",autocomplete="off")}}
          {{form.type.label()}} {{ form.type(class="form-control", placeholder="Item Type...",autocomplete="off")}}
          {{form.datePurchased.label()}} {{ form.datePurchased(class="form-control", placeholder="Enter
          Date...",autocomplete="off") }}
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick=refreshPage()>Close</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal"
          onclick="submitForm('create_form')">Submit</button>
      </div>
    </div>
  </div>
</div>
{% for item in items %}
<!-- Update Modal -->
<div class="modal fade" id="UpdateItem_{{item.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Update Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="update_form_{{ item.id }}" method="POST" action="{{ url_for('UpdateItem',item_id=item.id) }}"
          class="form-register" style="color: grey;">
          {{ form.hidden_tag() }}
          <input type="hidden" id="itemIdToUpdate" name="item_id" value="{{ item.id }}">
          <!-- Add this hidden input field -->
          <blockquote class="blockquote text-center">
            <h1 class="h3 mb-3 font-weight-normal">
              Update Item
            </h1>
          </blockquote>
          {{ form.csrf_token }}
          {{form.name.label()}} {{ form.name(class="form-control", placeholder="current: " ~ item.name,
          value=item.name)}}
          {{form.price.label()}} {{ form.price(class="form-control", placeholder=item.price, value=item.price)}}
          {{form.datePurchased.label()}} {{ form.datePurchased(class="form-control",
          placeholder=item.datePurchased,value=item.datePurchased) }}
          <br>
          <div class="modal-footer">
            <a type="button" class="btn btn-secondary" data-dismiss="modal" onclick=RefreshPage()>Close</a>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="submitForm('update_form_{{ item.id }}')">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}